
<button class="btn btn-primary mb-2" (click)="isModalOpen = true">Added New Content</button>

<ngx-datatable #table class="material" [rows]="items" [count]="count" [list]="list" default>

  <ngx-datatable-column name="Title" prop="title">
    <ng-template let-column="column" ngx-datatable-header-template>
      <div title="Column Description: This column displays the title">Title</div>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Description" prop="description">
    <ng-template let-column="column" ngx-datatable-header-template>
      <div title="Column Description: This column displays the description">Description</div>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value" class="truncate"></div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Actions" prop="actions"  [sortable]="false" [canAutoResize]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="action-buttons">
        <button class="btn btn-primary pointer" (click)="editRow(row)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-secondary pointer" (click)="deleteRow(row)">
          <i class="fa fa-trash"></i> 
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>




<abp-modal centered="true" [options]="{ size: 'xl' }" id="myModal" [(visible)]="isModalOpen" [busy]="inProgress">
  <ng-template #abpHeader>
      <h3>Content</h3>
  </ng-template>

  <ng-template #abpBody>
      <form id="book-form" [formGroup]="form">
          <div class="form-group">
              <label for="title">Title</label><span> * </span>
              <input type="text" id="title" maxlength="50" class="form-control" formControlName="title" autofocus />
          </div>

          <div class="form-group mt-2">
              <label for="description">Description</label><span> * </span>
              <quill-editor formControlName="description" [styles]="{ height: '200px' }"></quill-editor>
          </div>
      </form>
  </ng-template>

  <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
          Cancel
      </button>

      <button form="book-form" class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
          <i class="fa fa-check mr-1"></i>
          Save
      </button>
  </ng-template>
</abp-modal>
